.skills {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.filterButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.filterButton {
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filterButton.active,
.filterButton:hover {
  background-color: var(--primary-color);
  color: white;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skillItem i {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .skillsGrid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
  }

  .skillItem i {
    font-size: 2.5rem;
  }

  .filterButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
