@import "./assets/styles/variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: var(--font-family);
  line-height: var(--line-height);
  scroll-behavior: smooth;
}

body {
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  cursor: pointer;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}